/*Police */
@font-face {
    font-family: 'Solway-regular';
    src: url('./police/Solway/Solway-Regular.otf');
}

@font-face {
    font-family: 'cotrell';
    src: url('./police/cotrell-cf/CotrellCFExtraBold-ExtraBold.ttf')
}

@font-face {
    font-family: 'auber';
    src: url('./police/auber-cf/AuberCFBold-Bold.ttf');
}

@font-face {
    font-family: 'yikes';
    src: url('./police/Fonts/yikes!__.ttf');
}

@font-face {
    font-family: 'akadora';
    src: url('./police/Fonts/akadora.ttf');
}

@font-face {
    font-family: 'evie';
    src: url('./police/Fonts/evie\ s\ hand.ttf');
}

@font-face {
    font-family: 'andriko';
    src: url('./police/Fonts/andriko.ttf');
}

@font-face {
    font-family: 'kaushan';
    src: url('./police/Fonts/kaushanscript-regular.ttf');
}

@font-face {
    font-family: 'alpine';
    src: url('./police/Fonts/alpine.ttf');
}

@font-face {
    font-family: 'MaShanZheng';
    src: url('./police/MaShanZheng/MaShanZheng-Regular.ttf')
}

@font-face {
    font-family: 'caveat';
    src: url('./police/caveat/Caveat-Regular.ttf')
}

@font-face {
    font-family: 'volkorn';
    src: url('./police/volkorn/Vollkorn-Regular.ttf')
}

@font-face {
    font-family: 'shadow';
    src: url('./police/shadows-into-light/ShadowsIntoLight.ttf')
}

@font-face {
    font-family: 'dancing';
    src: url('./police/dancing-script/DancingScript-Regular.ttf')
}

a {
    text-decoration: none;
}

a:visited {
    color: yellow;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 0px;
}

.h1prochainement {
    font-family: 'Courier New', Courier, monospace;
}

.h2 {
    font-family: 'Courier New', Courier, monospace;
}

.delice {
    font-family: 'dancing';
    font-size: 54px;
    background: -webkit-linear-gradient(#0000ff, #00ccff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
}

.menu3 {
    font-family: 'dancing';
    color: #0000ff;
    font-size: 35px;
}

.menu4 {
    font-family: 'kaushan';
    color: #339933;
    font-size: 35px;
}

.palette {
    font-family: 'kaushan';
    font-size: 54px;
    background: -webkit-linear-gradient(#339933, #ccffcc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.note {
    font-family: 'MaShanZheng';
    color: #101010;
    font-size: 2.5em;
}

.note-index {
    font-family: 'MaShanZheng';
    color: #101010;
    font-size: 54px;
}

.menu {
    font-family: 'cotrell';
    color: #101010;
}

.chic {
    font-family: 'volkorn';
    font-size: 54px;
    background: linear-gradient(to bottom right, #d18f44 37%, #5a32c0 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu2 {
    font-family: 'Solway-regular';
    color: #ff9900;
}

.section1 p {
    font-family: 'caveat';
    font-size: 1.4em;
}

.section2 p {
    font-family: 'volkorn';
    font-size: 1.2em;
}

.section3 p,
.section4 p {
    font-family: 'shadow';
    font-size: 1.2em;
}

.appetit {
    color: #d18f44;
}

.plaisir {
    color: #935087;
}

.mouvement-final {
    color: #5a32c0;
}

/*Typographie*/

body {
    margin: 0px;
}

header {
    background-color: #4f9982;
    padding: 8px;

    & #logo {
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #4f9982;
    }
}

section {
    display: flex;
}

/*Méthode BEM BLOC PAGE*/
.bloc_page {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 50px;
    box-sizing: border-box;

    &--pagemenu {
        margin: 0 auto;
    }

    &__menu {
        width: 500px;
        height: 500px;
        margin-left: 2%;
        margin-right: auto;
        font-size: 35px;
        text-align: center;
        box-shadow: 1px 1px 8px grey;
        display: flex;
        flex-direction: column;
        justify-content: center;


        &--1 {
            background-color: #fcdfdb;
        }

        &--2 {
            background-color: #fff5fe;
        }

        &--3 {
            background-color: #edefef;
        }

        &--4 {
            background-color: #fdfffd;
        }
    }

    & .prochainement {
        border-radius: 12px 12px 12px 12px;
        background: #4f9982;
        border: none;
        color: yellow;
        font: 1em Verdana;
        padding: 6px 0 6px 0;
        text-align: center;
        margin: 100px;
        font-size: 25px;
    }
}

.fas {
    width: 100%;
    height: auto;
    font-size: 54px;
    background: -webkit-linear-gradient(#ff0066, #ff9966);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    background-color: #4f9982;
    color: yellow;
    display: flex;
    font-size: 1.6em;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
    font: 1em Verdana;
    width: 100%;
    box-sizing: border-box;
}

/*Page*/
/*Méthode BEM Section*/
.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;

    &--1 {
        background-color: #fcdfdb;
        font-family: 'alpine';
    }

    &--2 {
        background-color: #fff5fe;
        font-family: 'alpine';
    }

    &--3 {
        background-color: #f9f9f9;
        font-family: 'alpine';
    }

    &--4 {
        background-color: #fdfffd;
        font-family: 'alpine';
    }

    &--mention_legale {
        background-color: #fddddf;
    }

    &--prochainement {
        background-color: beige;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }
}

.hrheader {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 800px;
}

/* Barre de separation (svg) */
.calque {
    width: 200px;

    &--1 {
        fill: #000000;
    }

    &--2 {
        fill: #d18f44;
    }

    &--21 {
        fill: #935087;
    }

    &--22 {
        fill: #5a32c0;
    }

    &--3 {
        fill: #0329dc;
    }

    &--4 {
        fill: url(#Gradient1);
    }

    &--rotate180 {
        transform: rotate(180deg);
    }

    &--flip {
        transform: scaleX(-1);
    }
}

.separation {
    width: 150px;
    margin: 0 20px;

    &--menu-12 {
        transform: rotate(180deg);
    }

    &.cls-1 {
        fill: black;
    }
}

.prix {
    font-weight: bold;
}

.ligneprix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
}

.ligneprix p {
    margin-right: 10px;
}

.svgprochainement {
    width: 100px;
    fill: black;
    stroke: black;
    stroke-width: 3px;
    position: relative;
    animation: bounce 0.7s ease infinite;

    &--2 {
        animation-delay: 0.1s;
    }

    &--3 {
        animation-delay: 0.2s;
    }
}

@keyframes bounce {
    from {
        top: 0px;
    }

    50% {
        top: 20px;
    }

    to {
        top: 0px;
    }
}

/* Animation soulignement gauche droite */
.expand {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.expand:after {
    display: block;
    content: '';
    border-bottom: solid 3px lightgrey;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%
}

.expand:hover:after {
    transform: scaleX(1);
    transform-origin: 0 50%;
}

/* Animation wiggle */
.bouton {
    animation: thing 3s infinite;
}

@keyframes thing {
    0% {
        transform: rotate(0deg)
    }

    3% {
        transform: rotate(-5deg)
    }

    4% {
        transform: rotate(5deg)
    }

    5% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

/* Responsive design (adaptation a l'écran)*/
@media all and (max-width: 1024px) {
    header #logo {
        display: flex;
        width: 100%;
    }

    .bloc_page {
        display: flex;
        flex-wrap: wrap;
    }

    .bloc_page__menu {
        width: 48%;
        margin-bottom: 2%;
    }

    section {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 740px) {}

@media all and (max-width: 550px) {
    .bloc_page__menu {
        width: 100%;
        margin-bottom: 5%;
    }
}

@media all and (max-width: 480px) {
    section {
        width: 100%;
    }

    .bloc_page .prochainement {
        margin: auto;
    }

    .calque {
        width: 100%;
    }

    .calque_1 {
        width: 100%;
    }

    .calque_2 {
        width: 100%;
    }

    .calque_3 {
        width: 100%;
    }

    .calque_4 {
        width: 100%;
    }

    .chic {
        font-size: 45px;
    }

    .palette {
        font-size: 45px;
    }

    .boxsvg {
        width: 100%;
        display: flex;
    }
}

@media all and (max-width: 320px) {}