/*Police */
@font-face {
    font-family: 'Solway-regular';
    src: url('./police/Solway/Solway-Regular.otf');
}

@font-face {
    font-family: 'cotrell';
    src: url('./police/cotrell-cf/CotrellCFExtraBold-ExtraBold.ttf')
}

@font-face {
    font-family: 'auber';
    src: url('./police/auber-cf/AuberCFBold-Bold.ttf');
}

@font-face {
    font-family: 'yikes';
    src: url('./police/Fonts/yikes!__.ttf');
}

@font-face {
    font-family: 'akadora';
    src: url('./police/Fonts/akadora.ttf');
}

@font-face {
    font-family: 'evie';
    src: url('./police/Fonts/evie\ s\ hand.ttf');
}

@font-face {
    font-family: 'andriko';
    src: url('./police/Fonts/andriko.ttf');
}

@font-face {
    font-family: 'kaushan';
    src: url('./police/Fonts/kaushanscript-regular.ttf');
}

.delice {
    font-family: 'akadora';
    font-size: 54px;
    background: -webkit-linear-gradient(#0000ff, #00ccff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu3 {
    font-family: 'evie';
    color: #0000ff;
    font-size: 35px;
}

.menu4 {
    font-family: 'kaushan';
    color: #339933;
    font-size: 35px;
}

.palette {
    font-family: 'kaushan';
    font-size: 54px;
    background: -webkit-linear-gradient(#339933, #ccffcc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.note {
    font-family: 'yikes';
    color: #101010;
}

.menu {
    font-family: 'cotrell';
    color: #101010;
}

.chic {
    font-family: 'auber';
    font-size: 54px;
    background: -webkit-linear-gradient(#ff9900, #9900cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu2 {
    font-family: 'Solway-regular';
    color: #ff9900;
}

body {
    margin: 0px;
}

header {
    background-color: #4f9982;

    & #logo {
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

section {
    display: flex;
}

.fas {
    max-width: 100%;
    height: auto;
    font-size: 50px;
    margin: 20px;
    color: #4f9982;
}

.bloc_page {
    display: flex;
    flex-direction: column;
    padding: 15%;

    &__menu {
        width: 500px;
        height: 500px;
        display: block;
        margin-left: 2%;
        margin-right: auto;
        font-size: 35px;
        text-align: center;
        box-shadow: 1px 1px 8px grey;

        &--1 {
            background-color: #fcdfdb;
        }

        &--2 {
            background-color: #fff5fe;
        }

        &--3 {
            background-color: #f9f9f9;
        }

        &--4 {
            background-color: #fdfffd;
        }
    }

    & .prochainement {
        background-color: #4f9982;
        color: yellow;
    }
}

footer {
    background-color: #4f9982;
    color: yellow;
}