/*Police */
@font-face {
    font-family: 'Solway-regular';
    src: url('./police/Solway/Solway-Regular.otf');
}

@font-face {
    font-family: 'cotrell';
    src: url('./police/cotrell-cf/CotrellCFExtraBold-ExtraBold.ttf')
}

@font-face {
    font-family: 'auber';
    src: url('./police/auber-cf/AuberCFBold-Bold.ttf');
}

@font-face {
    font-family: 'yikes';
    src: url('./police/Fonts/yikes!__.ttf');
}

@font-face {
    font-family: 'akadora';
    src: url('./police/Fonts/akadora.ttf');
}

@font-face {
    font-family: 'evie';
    src: url('./police/Fonts/evie\ s\ hand.ttf');
}

@font-face {
    font-family: 'andriko';
    src: url('./police/Fonts/andriko.ttf');
}

@font-face {
    font-family: 'kaushan';
    src: url('./police/Fonts/kaushanscript-regular.ttf');
}

@font-face {
    font-family: 'alpine';
    src: url('./police/Fonts/alpine.ttf');
}

.delice {
    font-family: 'akadora';
    font-size: 54px;
    background: -webkit-linear-gradient(#0000ff, #00ccff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu3 {
    font-family: 'evie';
    color: #0000ff;
    font-size: 35px;
}

.menu4 {
    font-family: 'kaushan';
    color: #339933;
    font-size: 35px;
}

.palette {
    font-family: 'kaushan';
    font-size: 54px;
    background: -webkit-linear-gradient(#339933, #ccffcc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.note {
    font-family: 'yikes';
    color: #101010;
}

.menu {
    font-family: 'cotrell';
    color: #101010;
}

.chic {
    font-family: 'auber';
    font-size: 1.3em;
    background: -webkit-linear-gradient(#ff9900, #9900cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu2 {
    font-family: 'Solway-regular';
    color: #ff9900;
}

/*Typographie*/

body {
    margin: 0px;
}

header {
    background-color: #4f9982;

    & #logo {
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #4f9982;
    }
}

section {
    display: flex;
}

.bloc_page {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 50px;

    &__menu {
        width: 500px;
        height: 500px;
        margin-left: 2%;
        margin-right: auto;
        font-size: 35px;
        text-align: center;
        box-shadow: 1px 1px 8px grey;
        display: flex;
        flex-direction: column;
        justify-content: center;


        &--1 {
            background-color: #fcdfdb;
        }

        &--2 {
            background-color: #fff5fe;
        }

        &--3 {
            background-color: #f9f9f9;
        }

        &--4 {
            background-color: #fdfffd;
        }
    }

    & .prochainement {
        border-radius: 12px 12px 12px 12px;
        background: #4f9982;
        border: none;
        color: yellow;
        font: 1em Verdana;
        padding: 6px 0 6px 0;
        text-align: center;
        margin: 100px;
        font-size: 25px;
    }

}

.bloc_page1 {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-right: 400px;
    margin-left: 400px;
}

.section1 {
    flex-direction: column;
    background-color: #fcdfdb;
    text-align: center;
    font-family: 'alpine';
}

.h2 {
    font-family: 'Courier New', Courier, monospace;
}

.prix {
    font-weight: bold;
}

.fas {
    width: 100%;
    height: auto;
    font-size: 54px;
    background: -webkit-linear-gradient(#ff0066, #ff9966);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    background-color: #4f9982;
    color: yellow;
    display: flex;
    font-size: 1.6em;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
    font: 1em Verdana;
}

/* Responsive design (adaptation a l'écran)*/
@media all and (max-width: 1024px) {
    #logo {
        display: flex;
        width: 100%;
    }

    .bloc_page {
        display: flex;
        flex-wrap: wrap;
    }

    .bloc_page__menu {
        width: 48%;
        margin-bottom: 2%;
    }

    section {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 740px) {
    #logo {
        display: flex;
        width: 100%;
    }

    .bloc_page {
        display: flex;
        flex-wrap: wrap;
    }

    .bloc_page__menu {
        width: 48%;
        margin-bottom: 2%;
    }

    section {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 550px) {
    #logo {
        display: flex;
        width: 100%;
    }

    .bloc_page {
        display: flex;
        flex-wrap: wrap;
    }

    .bloc_page__menu {
        width: 100%;
        margin-bottom: 5%;
    }

    section {
        flex-wrap: wrap;
    }

    footer {
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    #logo {
        display: flex;
        width: 100%;
    }

    .bloc_page {
        display: flex;
        flex-wrap: wrap;
    }

    .bloc_page__menu {
        width: 100%;
        margin-bottom: 5%;
    }

    section {
        flex-wrap: wrap;
    }

    footer {
        width: 26em;
    }
}

@media all and (max-width: 320px) {
    #logo {
        display: flex;
        width: 32em;
    }

    .bloc_page {
        display: flex;
        flex-wrap: wrap;
    }

    .bloc_page__menu {
        width: 100%;
        margin-bottom: 5%;
    }

    section {
        flex-wrap: wrap;
    }

    footer {
        width: 27em;
    }
}